<div class="hero hero3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
      </div>
    </div>
  </div>
</div>
<!-- celebrity single section-->

<div class="page-single movie-single cebleb-single">
  <div class="container">
    <div class="row ipad-width">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="mv-ceb">
          <img src="/assets/uploads/cebsingle2.png" alt="">
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="movie-single-ct">
          <h1 class="bd-hd">Hugh Jackman</h1>
          <p class="ceb-single">Actor | Producer</p>
          <div class="social-link cebsingle-socail">
            <a href="celebritysingle.html#"><i class="ion-social-facebook"></i></a>
            <a href="celebritysingle.html#"><i class="ion-social-twitter"></i></a>
            <a href="celebritysingle.html#"><i class="ion-social-googleplus"></i></a>
            <a href="celebritysingle.html#"><i class="ion-social-linkedin"></i></a>
          </div>
          <div class="section-title">
            Overview
          </div>
          <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
              <p>Jackman was born in Sydney, New South Wales, to Grace McNeil (Greenwood) and Christopher John Jackman, an accountant. He is the youngest of five children. His parents both English, moved to Australia shortly before his birth. He
                also has Greek (from a great-grandfather) and Scottish (from a grandmother) ancestry.</p>
              <p>Hugh Michael Jackman is an Australian actor, singer, multi-instrumentalist, dancer and producer. Jackman has won international recognition for his roles in major films, notably as superhero, period, and romance characters. </p>
              <p class="time"><a href="celebritysingle.html#">See full bio <i class="ion-ios-arrow-right"></i></a></p>
              <div class="title-hd-sm">
                <h4>Videos & Photos</h4>
                <a href="celebritysingle.html#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>
              </div>
              <div class="mvsingle-item ov-item">
                <a class="img-lightbox" data-fancybox-group="gallery" href="/assets/uploads/image11.jpg"><img src="/assets/uploads/image1.jpg" alt=""></a>
                <a class="img-lightbox" data-fancybox-group="gallery" href="/assets/uploads/image21.jpg"><img src="/assets/uploads/image2.jpg" alt=""></a>
                <a class="img-lightbox" data-fancybox-group="gallery" href="/assets/uploads/image31.jpg"><img src="/assets/uploads/image3.jpg" alt=""></a>
                <div class="vd-it">
                  <img class="vd-img" src="/assets/uploads/image4.jpg" alt="">
                  <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/assets/uploads/play-vd.png" alt=""></a>
                </div>
              </div>
              <div class="title-hd-sm">
                <h4>filmography</h4>
                <a href="celebritysingle.html#" class="time">Full Filmography<i class="ion-ios-arrow-right"></i></a>
              </div>
              <!-- movie cast -->
              <div class="mvcast-item">
                <div class="cast-it">
                  <div class="cast-left cebleb-film">
                    <img src="/assets/uploads/film1.jpg" alt="">
                    <div>
                      <a href="celebritysingle.html#">X-Men: Apocalypse </a>
                      <p class="time">Logan</p>
                    </div>

                  </div>
                  <p>... 2016</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left cebleb-film">
                    <img src="/assets/uploads/film2.jpg" alt="">
                    <div>
                      <a href="celebritysingle.html#">Eddie the Eagle </a>
                      <p class="time">Bronson Peary</p>
                    </div>
                  </div>
                  <p>... 2015</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left cebleb-film">
                    <img src="/assets/uploads/film3.jpg" alt="">
                    <div>
                      <a href="celebritysingle.html#">Me and Earl and the Dying Girl </a>
                      <p class="time">Hugh Jackman</p>
                    </div>
                  </div>
                  <p>... 2015</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left cebleb-film">
                    <img src="/assets/uploads/film4.jpg" alt="">
                    <div>
                      <a href="celebritysingle.html#">Night at the Museum 3 </a>
                      <p class="time">Blackbeard</p>
                    </div>
                  </div>
                  <p>... 2014</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left cebleb-film">
                    <img src="/assets/uploads/film5.jpg" alt="">
                    <div>
                      <a href="celebritysingle.html#">X-Men: Days of Future Past </a>
                      <p class="time">Wolverine</p>
                    </div>
                  </div>
                  <p>... 2012</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left cebleb-film">
                    <img src="/assets/uploads/film6.jpg" alt="">
                    <div>
                      <a href="celebritysingle.html#">The Wolverine </a>
                      <p class="time">Logan</p>
                    </div>
                  </div>
                  <p>... 2011</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left cebleb-film">
                    <img src="/assets/uploads/film7.jpg" alt="">
                    <div>
                      <a href="celebritysingle.html#">Rise of the Guardians </a>
                      <p class="time">Bunny</p>
                    </div>
                  </div>
                  <p>... 2011</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left cebleb-film">
                    <img src="/assets/uploads/film8.jpg" alt="">
                    <div>
                      <a href="celebritysingle.html#">The Prestige </a>
                      <p class="time">Robert Angier</p>
                    </div>
                  </div>
                  <p>... 2010</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
              <div class="sb-it">
                <h6>Fullname:  </h6>
                <p><a href="celebritysingle.html#">Hugh Jackman</a></p>
              </div>
              <div class="sb-it">
                <h6>Date of Birth: </h6>
                <p>June 24, 1982</p>
              </div>
              <div class="sb-it">
                <h6>Country:  </h6>
                <p>Australian</p>
              </div>
              <div class="sb-it">
                <h6>Height:</h6>
                <p>186 cm/p>
              </div>
              <div class="sb-it">
                <h6>Keywords:</h6>
                <p class="tags">
                  <span class="time"><a href="celebritysingle.html#">jackman</a></span>
                  <span class="time"><a href="celebritysingle.html#">wolverine</a></span>
                  <span class="time"><a href="celebritysingle.html#">logan</a></span>
                  <span class="time"><a href="celebritysingle.html#">blockbuster</a></span>
                  <span class="time"><a href="celebritysingle.html#">final battle</a></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- celebrity single section-->
