<div class="hero mv-single-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <h1> movie listing - list</h1>
			<ul class="breadcumb">
				<li class="active"><a href="#">Home</a></li>
				<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
			</ul> -->
      </div>
    </div>
  </div>
</div>
<div class="page-single movie-single movie_single">
  <div class="container">
    <div class="row ipad-width2">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="movie-img sticky-sb">
          <img src="/assets/uploads/movie-single.jpg" alt="">
          <div class="movie-btn">
            <div class="btn-transform transform-vertical red">
              <div>
                <a href="moviesingle.html#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a>
              </div>
              <div><a href="https://www.youtube.com/embed/o-0hcF97wy0" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="movie-single-ct main-content">
          <h1 class="bd-hd">Skyfall: Quantum of Spectre <span>2015</span></h1>
          <div class="social-btn">
            <a href="moviesingle.html#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
            <div class="hover-bnt">
              <a href="moviesingle.html#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
              <div class="hvr-item">
                <a href="moviesingle.html#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                <a href="moviesingle.html#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                <a href="moviesingle.html#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                <a href="moviesingle.html#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
              </div>
            </div>
          </div>
          <div class="movie-rate">
            <div class="rate">
              <i class="ion-android-star"></i>
              <p><span>8.1</span> /10
                <br>
                <span class="rv">56 Reviews</span>
              </p>
            </div>
            <div class="rate-star">
              <p>Rate This Movie: </p>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star"></i>
              <i class="ion-ios-star-outline"></i>
            </div>
          </div>
          <div class="section-title">
            Overview
          </div>
          <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
              <p>Tony Stark creates the Ultron Program to protect the world, but when the peacekeeping program becomes hostile, The Avengers go into action to try and defeat a virtually impossible enemy together. Earth's mightiest heroes must come
                together once again to protect the world from global extinction.</p>
              <div class="title-hd-sm">
                <h4>Videos & Photos</h4>
                <a href="moviesingle.html#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>
              </div>
              <div class="mvsingle-item ov-item">
                <a class="img-lightbox" data-fancybox-group="gallery" href="/assets/uploads/image11.jpg"><img src="/assets/uploads/image1.jpg" alt=""></a>
                <a class="img-lightbox" data-fancybox-group="gallery" href="/assets/uploads/image21.jpg"><img src="/assets/uploads/image2.jpg" alt=""></a>
                <a class="img-lightbox" data-fancybox-group="gallery" href="/assets/uploads/image31.jpg"><img src="/assets/uploads/image3.jpg" alt=""></a>
                <div class="vd-it">
                  <img class="vd-img" src="/assets/uploads/image4.jpg" alt="">
                  <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/assets/uploads/play-vd.png" alt=""></a>
                </div>
              </div>
              <div class="title-hd-sm">
                <h4>cast</h4>
                <a href="moviesingle.html#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
              </div>
              <!-- movie cast -->
              <div class="mvcast-item">
                <div class="cast-it">
                  <div class="cast-left">
                    <img src="/assets/uploads/cast1.jpg" alt="">
                    <a href="moviesingle.html#">Robert Downey Jr.</a>
                  </div>
                  <p>... Robert Downey Jr.</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left">
                    <img src="/assets/uploads/cast2.jpg" alt="">
                    <a href="moviesingle.html#">Chris Hemsworth</a>
                  </div>
                  <p>... Thor</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left">
                    <img src="/assets/uploads/cast3.jpg" alt="">
                    <a href="moviesingle.html#">Mark Ruffalo</a>
                  </div>
                  <p>... Bruce Banner/ Hulk</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left">
                    <img src="/assets/uploads/cast4.jpg" alt="">
                    <a href="moviesingle.html#">Chris Evans</a>
                  </div>
                  <p>... Steve Rogers/ Captain America</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left">
                    <img src="/assets/uploads/cast5.jpg" alt="">
                    <a href="moviesingle.html#">Scarlett Johansson</a>
                  </div>
                  <p>... Natasha Romanoff/ Black Widow</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left">
                    <img src="/assets/uploads/cast6.jpg" alt="">
                    <a href="moviesingle.html#">Jeremy Renner</a>
                  </div>
                  <p>... Clint Barton/ Hawkeye</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left">
                    <img src="/assets/uploads/cast7.jpg" alt="">
                    <a href="moviesingle.html#">James Spader</a>
                  </div>
                  <p>... Ultron</p>
                </div>
                <div class="cast-it">
                  <div class="cast-left">
                    <img src="/assets/uploads/cast9.jpg" alt="">
                    <a href="moviesingle.html#">Don Cheadle</a>
                  </div>
                  <p>... James Rhodes/ War Machine</p>
                </div>
              </div>
              <div class="title-hd-sm">
                <h4>User reviews</h4>
                <a href="moviesingle.html#" class="time">See All 56 Reviews <i class="ion-ios-arrow-right"></i></a>
              </div>
              <!-- movie user review -->
              <div class="mv-user-review-item">
                <h3>Best Marvel movie in my opinion</h3>
                <div class="no-star">
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star last"></i>
                </div>
                <p class="time">
                  17 December 2016 by <a href="moviesingle.html#"> hawaiipierson</a>
                </p>
                <p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to
                  different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In
                  other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>
              </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
              <div class="sb-it">
                <h6>Director: </h6>
                <p><a href="moviesingle.html#">Joss Whedon</a></p>
              </div>
              <div class="sb-it">
                <h6>Writer: </h6>
                <p><a href="moviesingle.html#">Joss Whedon,</a> <a href="moviesingle.html#">Stan Lee</a></p>
              </div>
              <div class="sb-it">
                <h6>Stars: </h6>
                <p><a href="moviesingle.html#">Robert Downey Jr,</a> <a href="moviesingle.html#">Chris Evans,</a> <a href="moviesingle.html#">Mark Ruffalo,</a><a href="moviesingle.html#"> Scarlett Johansson</a></p>
              </div>
              <div class="sb-it">
                <h6>Genres:</h6>
                <p><a href="moviesingle.html#">Action, </a> <a href="moviesingle.html#"> Sci-Fi,</a> <a href="moviesingle.html#">Adventure</a></p>
              </div>
              <div class="sb-it">
                <h6>Release Date:</h6>
                <p>May 1, 2015 (U.S.A)</p>
              </div>
              <div class="sb-it">
                <h6>Run Time:</h6>
                <p>141 min</p>
              </div>
              <div class="sb-it">
                <h6>MMPA Rating:</h6>
                <p>PG-13</p>
              </div>
              <div class="sb-it">
                <h6>Plot Keywords:</h6>
                <p class="tags">
                  <span class="time"><a href="moviesingle.html#">superhero</a></span>
                  <span class="time"><a href="moviesingle.html#">marvel universe</a></span>
                  <span class="time"><a href="moviesingle.html#">comic</a></span>
                  <span class="time"><a href="moviesingle.html#">blockbuster</a></span>
                  <span class="time"><a href="moviesingle.html#">final battle</a></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
